* {
    margin-top: 20px;
}


.input {
    display:block;
    width:30%;
    margin:0 auto;
    margin-top: 10px;
}

.btn {
    display:block;
    width:20%;
    margin:0 auto;
    margin-top: 10px;
}